<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 引入百度地图 -->
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=eBGR7XzaPhB5UbYARl3E7ksdkMdgrCw7"></script>
  <title>Umi+dva+antd Pro</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
</head>
<body>
  <div id="root"></div>
  <script>
    window.BMap = BMap;
</script>
</body>
</html>
